@model Webserver_PoC.Models.Sensor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-container" class="bg-light">
    <fieldset>
        <legend>Verwijderen</legend>
        <hr/>
        <p>Weet u zeker dat u @(Model.name) permanent wilt verwijderen?</p>
        <fieldset>
            <legend>Details</legend>
            <dl>
                <dt>Naam</dt>
                <dd>@(Model.name)</dd>
                <dt>Beschrijving</dt>
                <dd>@(Model.location_description)</dd>
                <dt>Coördinaten</dt>
                <dd>@(Model.longitude) @(Model.latitude)</dd>
            </dl>
        </fieldset>
        @using (Html.BeginForm())
        {
            <div class="btn-group">
                <input type="submit" value="Verwijder" class="btn btn-primary" />
                @Html.ActionLink("Terug", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </fieldset>
</div>

