@model Webserver_PoC.Models.Sensor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coordinates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sensor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
