@model X.PagedList.IPagedList<Webserver_PoC.Models.Sensor>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Bootstrap4

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#SearchWord").focusout(function () {
            $("#SearchForm").submit();
        });
    });
</script>

<div id="toolbar">
    <div>
        <div class="searchIcon">
            <h2>
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                </svg>
            </h2>
        </div>
        
        @using (Html.BeginForm("Index", "Sensors", FormMethod.Get, new { id = "SearchForm" }))
        {
            @Html.TextBox("SearchWord", ViewBag.CurrentFilter as string, new { placeholder = "Zoek op trefwoord" })
        }
    </div>
</div>

<table class="table table-hover data-table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location description
            </th>
            <th>
                Longitude
            </th>
            <th>
                Latitude
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latitude)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.sensor_id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.sensor_id }, new { @class = "btn btn-primary" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Sensors", new { page, currentfilter = ViewBag.CurrentFilter }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)


